/* UserProfile.css */
.profile-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.profile-container h2 {
    font-size: 30px;
    font-weight: 600;
    color: #333;
}

.profile-container p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}
